@import '@styles/mixins.scss';

.main {
	background-color: #ada69c;
	box-shadow: 0 0 10px 10px #ada69c;
	max-width: 68vw;
	padding: 10px;
	padding-top: 70px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;

	@include media1200 {
		max-width: 80vw;
	}
}

.title {
	color: #633a15;
	font-size: 59px;
	font-weight: 600;
	margin-bottom: 40px;
}

.section {
	max-width: 70vw;
	overflow: hidden;
}

.current_card {
	margin-bottom: 20px;
}
